/*========================= 
CREATE NEW PASSWORD SSTLYES
========================== */
.create-password-page {
    overflow: hidden;
    height: 100vh;

}


.left-cpPage {
    width: 100vw;
    padding: 13px;
    margin: 0px;

}

.subtext {
    color: var(--gray-medium);
    font-size: 14px;
    margin-bottom: 24px;
}

.full-width {
    width: 100%;
    margin-top: 20px;
}

@media (max-width: 436px) {
    .left-cpPage {
        margin-top: 3rem;
        width: 30vw;
    }
}

@media (max-width: 786px) {
    .left-cpPage {
        margin-top: 1rem;
    }
}