.left-cpPage {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100vh;
}

/* Medium screens (tablets) */
@media (max-width: 992px) {
    .left-cpPage {
        width: 100%;
        margin-top: 0px;
        padding: 3rem;
    }
}

/* Small screens (phones) */
@media (max-width: 336px) {
    .left-cpPage {
        margin-top: 0px;
    }

    .cp-heading {
        font-size: 1.4rem;
    }

    .sub {
        font-size: 12px;
    }
}

@media (max-width: 786px) {
    .left-cpPage {
        margin-top: 0.1rem;
    }
}


.create-password-page {
    width: 100vw;
    display: flex;

}

.cp-btn {
    width: 100%;
    margin-top: 2rem;
}