/* ================================
   Page Layout Wrapper
================================ */
.signup-page {
    display: flex;
    height: 100vh;
    background-color: #ffffff;
}

/* ================================
     Left Section (Form Area)
  ================================ */
.signup-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    position: relative;
    margin-top: 1px;
}