/* ==============================
 Booking Card Styles
   ============================== */

.booking-card {
    width: 460px;
    height: 500px;
    background-color: #F2FAFC;
    border-radius: 19.02px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 12px var(--color-shadow-light);
}

/* Title */
.booking-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--color-text-primary);
}

/* Booking Information */
.booking-info h3 {
    font-size: 17px;
    font-weight: 500;
    margin: 6px 0;
    color: var(--color-text-secondary);
}

/* User Name Styling */
.user-name {
    color: var(--skyblue-color);
    font-weight: 600;
}

/* Buttons Container */
.booking-buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 30px;
    width: 78%;
}

/* Buttons Style */
.booking-buttons button {
    width: 100%;
}

/* Responsive Styles */

/* Tablet View */
@media (max-width: 992px) {
    .booking-card {
        width: 80%;
        padding: 25px 20px;
    }

    .booking-title {
        font-size: 25px;
    }

    .booking-info h3 {
        font-size: 17px;
    }
}

/* Mobile View */
@media (max-width: 576px) {
    .booking-card {
        background-color: var(--color-bg-transparent);
        width: 105%;
        padding: 0;
        box-shadow: none;
        height: 380px;
    }

    .booking-title {
        font-size: 25px;
    }

    .booking-info h3 {
        font-size: 17px;
    }
}