.search-input-wrapper {
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 10px;
    padding: 10px 12px;
    width: 100%;
    max-width: 400px;
    height: 50px;
    position: relative;
    transition: border-color 0.3s ease;
    box-shadow: none;
}

.search-input-wrapper.with-border {
    border: 1px solid var(--gray-light);
    box-shadow: none;
}

.search-icon {
    display: flex;
    align-items: center;
    margin-right: 18px;
    color: #000;
}

.right-icon svg {
    margin-right: -45px;
    color: var(--gray-light);
}

.search-input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    color: var(--gray-dark);
    background: transparent;
}

.search-input::placeholder {
    color: var(--gray-light) !important;
    opacity: 1;
    /* for Firefox */
}

.search-input::-webkit-input-placeholder {
    color: var(--gray-medium) !important;
    /* Chrome, Safari, Edge */
}

.search-input:-ms-input-placeholder {
    color: var(--gray-medium) !important;
    /* Internet Explorer 10-11 */
}

.search-input::-ms-input-placeholder {
    color: var(--gray-medium) !important;
    /* Microsoft Edge */
}

@media (max-width: 480px) {
    .search-input-wrapper {
        max-width: 100%;
        padding: 11px 10px;
    }

    .search-icon {
        margin-right: 18px;
    }

    .search-input {
        font-size: 14px;
        width: 80% !important;
    }

    .search-input::placeholder {
        color: var(--gray-medium);
        font-size: 12px;
        margin-left: 15px;
    }
}