.avatar-profile {
    width: 175px;
    height: 170px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: none;
    border: 1px solid var(--gray-light);
}

.avatar-profile:hover {

    box-shadow: 0 3px 8px rgba(43, 175, 199, 0.25);
    border-color: var(--skyblue-color);
    transform: translateY(-0.2px);
}


.avator-image {
    width: 58px;
    height: 62px;
    margin-bottom: 6px;
}

.avatar-name {
    font-size: 13.5px;
    font-weight: 600;
    color: var(--skyblue-color);
    margin: 3px 0 1px;
}

.avatar-subtitle {
    font-size: 11.5px;
    color: var(--gray-medium);
    margin: 0 0 4px;
}

.avatar-review {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.star-icon {
    width: 11.5px;
    height: 11.5px;
    color: var(--yellow);
}

.review-text {
    font-size: 11.5px;
    color: var(--gray-dark);
}

@media screen and (max-width: 768px) {
    .avatar-profile {
        width: 130px;
        padding: 10px;
    }

    .avatar-icon {
        width: 50px;
        height: 50px;
    }

    .avatar-name {
        font-size: 13px;
    }

    .avatar-subtitle {
        font-size: 11px;
    }

    .review-text {
        font-size: 11px;
    }
}

@media screen and (max-width: 480px) {
    .avatar-profile {
        width: 170px;
        align-items: center;
        padding: 5px;
        height: 170px;
    }

    .avatar-icon {
        width: 45px;
        height: 45px;
        margin: auto;
        margin-left: 53px;
    }

    .avatar-name {
        font-size: 14px;
        margin-top: 25px;
    }

    .avatar-subtitle {
        font-size: 12px;
    }

    .review-text {
        font-size: 12px;
    }

    .star-icon {
        width: 11px;
        height: 11px;
    }
}