/* Container of category  */
.category-dropdown-container {
    position: relative;
    width: 100%;
    font-family: var(--font-family);
    font-size: 15px;
}

/* dropdown for long lists */
.category-dropdown-popup {
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--secondary-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    z-index: 999;
    min-width: 180px;
    /* animation: fadeDown 0.15s ease-out; */
    height: 280px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--gray-light) transparent;
}

/* Chrome, Edge, Safari thin scrollbar */
.category-dropdown-popup::-webkit-scrollbar {
    width: 4px;
}

.category-dropdown-popup::-webkit-scrollbar-track {
    background: transparent;
}

.category-dropdown-popup::-webkit-scrollbar-thumb {
    background-color: var(--skyblue-color);
    border-radius: 10px;
}

.category-dropdown-popup::-webkit-scrollbar-thumb:hover {
    background-color: #1d8fa7;
    /* darker skyblue */
}


/* Smooth dropdown animation */
@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* List */
.category-dropdown-options {
    list-style: none;
    margin: 0;
    padding: 0;
}


.category-dropdown-option:hover {
    background: linear-gradient(90deg, var(--skyblue-color) 0%, #3cc9e2 100%);
    color: var(--secondary-color);
}

.category-dropdown-option {
    padding: 10px 16px;
    color: var(--skyblue-color);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.25s ease;
    border-radius: 6px;
    display: flex;
    margin-top: 0px;
    align-items: center;
    line-height: 3px;
    min-height: 40px;
}

.clear-option {
    font-weight: 600;
    color: red;
    background-color: #f7fafa;
    cursor: pointer;
    transition: all 0.25s ease;
    border-radius: 8px;
    min-height: 40px;
}

.clear-option:hover {
    color: red
}