.search-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 12px;
    width: 100%;
    max-width: 400px;
    border: 1px solid var(--gray-light);
}

/* Left icon (Search) */
.left-icon-section {
    display: flex;
    align-items: center;
    margin-right: 12px;
}

/* Input field */
.search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--gray-dark);
    background: transparent;
}

/* Right icon (Control Panel) */
.right-icon-section {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

/* Divider before Control Panel icon */
.divider {
    width: 1px;
    height: 20px;
    background-color: #ccc;
    margin-right: 10px;
    /* spacing between line and icon */
}

.search-input::placeholder {
    color: var(--gray-medium) !important;
}

.search-input::placeholder {
    color: var(--gray-light) !important;
    opacity: 1;
    /* Firefox ke liye */
}

.search-input::-webkit-input-placeholder {
    color: grey !important;
    /* Chrome, Safari, Edge */
}

.search-input:-ms-input-placeholder {
    color: grey !important;
    /* Internet Explorer 10-11 */
}

.search-input::-ms-input-placeholder {
    color: grey !important;
    /* Microsoft Edge */
}