.password-changed-page {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.left-password {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.confirmation-box {
    max-width: 400px;
    width: 100%;
    padding: 40px;
    text-align: center;
}

.tick-icon {
    margin-bottom: 20px;
}

.success-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
}

.success-text {
    font-size: 14px;
    color: var(--gray-medium);
    margin-bottom: 16px;
}

.back-btn {
    width: 100%;
    margin-top: 0px;
}

/* Responsive adjustments */
@media (max-width: 786px) {
    .password-changed-page {
        flex-direction: column;
        justify-content: center;
    }

    .left-password {
        width: 100%;
        padding: 2rem;
        height: 60vh;
    }

    .confirmation-box {
        padding: 1rem;
    }
}