@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --skyblue-color: #2BAFC7;
    --secondary-color: #ffffff;
    --gray-light: #E4DFDF;
    --gray-medium: #747688;
    --gray-dark: #807A7A;
    --yellow: #FBBE47;
    --red: #E53535;
    --dark-red: #E53535;
}